/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #fff;
  /* Pattern from https://www.heropatterns.com/ */
  color: #1e272e;
  color: #fff;
  font-size: 16px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.prin{
  height: 110px;
  margin: 5%;
}


.container {
  width: 90%;
  margin: auto;
}

/* Navigation */
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1e1e;
  height: 40px;
  padding: 20px 0;
}

.nav-brand {
  width: 400px;
}

/* Navbar Left */
.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 80px;
}

.nav-main ul li a {
  padding: 2px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}

hr {
  margin: 10px 0;
}

/* Responsive Button */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
}

/* SHOWCASE */

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
}

.btn:hover {
  opacity: 0.9;
}

.middlezone section.article article time {
  color: #646464;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}
.time{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  align-items: center;
  text-align: center;
}



.middlezone h1{
  clear: both;
  text-align: left;
  line-height: 1.4;
  margin: 0 0 .75em;
  padding: .2em 0 0;
  color: #1062ae;
    text-decoration: none;
}

.statwidget-estadisticas{display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 150px;
  margin: 40px 100px 70px;
  background-size: cover;
  border-radius: .25rem;
  box-shadow: 0 0 0.25rem rgba(0,0,0,.08), 0 0.5rem 0.75rem rgba(0,0,0,.14);
  padding: 20px;
}

.grafica1{
  display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 200px;
    flex: 1 1 200px;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 150px;
    overflow: hidden;
    margin: 0 15px 40px;
    background-size: cover;
    border-radius: .25rem;
    box-shadow: 0 0 0.25rem rgba(0,0,0,.08), 0 0.5rem 0.75rem rgba(0,0,0,.14);
    padding: 20px;
}




.statwidget-estadisticas p{
  font-size: 25px;
  font-weight: 400;
    text-align: center;
  color: #000000;}

.statwidget-estadisticas section{
  font-size: 25px;
  font-weight: 700;
    text-align: center;
    color: #1062ae;
}

.titulo-primera-grafica{
  color: #1062ae;  
}

/* Mobil */
@media (max-width: 700px) {
  .menu-btn {
    display: block;
    background: #000000;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-main ul.nav-menu li {
    padding: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }
  .nav-main ul.nav-menu li:last-child {
    border-bottom: 0;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }

  .nav-main ul.nav-menu-right {
    margin-right: 50px;
  }
